
<!doctype html>
<html>
  <header>
    <a href='/'>Home</a>
    <a href="/blog">Main Blog Page</a>
    <a href="/newpost">Add a Blog Post</a>
    <a href='/login'>Log In</a>
    <a href='/logout'>Log Out</a>
  </header>

    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <title>{{title}}</title>
    </head>

<body>


  {% with messages = get_flashed_messages(with_categories=True) %}
      <ul>
      {% for category,message in messages %}
          <li class="{{category}}">{{message}}</li>
      {% endfor %}
      </ul>
  {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>
